@model OnlineECommerceApp.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div style="margin-top:20px; margin-left:20px; margin-right:20px;">
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd style="border:1px solid gray;">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p style="margin-left:20px;">
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
