@model OnlineECommerceApp.Models.CargoDetail
@{
    ViewBag.Title = "CargoDetails";
    Layout = "~/Views/Shared/_CariPanel.cshtml";
}

<table class="table table-striped" style="margin-top:20px;">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Description)</th>
        <th> @Html.DisplayFor(model => model.Date)</th>

    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <td>
            @Model.Date
        </td>
    </tr>


</table>

